/*
 * Styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 24px;
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
    to right bottom, 
    rgba(126, 213, 111, 0.8), 
    rgba(40, 180, 133, 0.8)
  ), url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 48px;
}

.text-box {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary-main,
.heading-primary-sub {
  display: block;
}

.heading-primary-main {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation: moveInLeftMainText 2s ease-out;
}

.heading-primary-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.625px;
  animation: moveInRightSubText 3s ease-in;
}

.button,
.button:link,
.button:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 5000px;
  transition: all .2s;
  position: relative;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.button:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.button-white {
  background-color: #fff;
  color: #777;
}

.button-white::after {
  background-color: #fff;
}

.button-animated {
  animation: moveInBottomButton 0.5s ease-in-out 2.5s; 
  animation-fill-mode: backwards;
}
