/*
 * Styles
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 24px;
}

.header {
  height: 95vh;
  position: relative;
  background-image: linear-gradient(
    to right bottom, 
    rgba(126, 213, 111, 0.8), 
    rgba(40, 180, 133, 0.8)
  ), url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.text-box {
  position: absolute;
  top: 37.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary-main,
.heading-primary-sub {
  display: block;
}

.heading-primary-main {
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
}

.heading-primary-sub {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.625px;
}
